
.contact-form {
  border-radius: 8px;
	padding: 100px;
  position: relative;
  left: +200px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.1s;
}
.contact-form h2 {
	margin-bottom: 15px;
  color: var(--black);
  background-color: var(--red);
	padding: 10px 20px;
  border-radius: 9px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
 border-radius: 10px;
}

.contact-form textarea {
	height: 150px;
}

.contact-form button {
	background-color: var(--red);
	color: var(--black);
	padding: 10px 20px;
  border-radius: 9px;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.contact-form {
		padding: 30px;
		
	}
}
